POSTGRES_DB=structured_logging
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
API_PORT=8080
LOKI_ENDPOINT=http://loki:3100
LOKI_PORT=3100
GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
